.modal {
  position: relative;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: auto;
  border-radius: 3px;
  animation: modal-open .2s ease;

  &-close {
    position: absolute;
    outline: none;
    top: 8px;
    right: 0;
    border: 0;
    font-size: 32px;
  }

  &-content {
    padding: 30px;

    label {
      margin: 8px 0;
    }
  }

  &-bottom {
    padding: 15px 30px;
    margin: 0 -30px -30px;
    background-color: #FAFAFA;
    display: flex;
    text-align: right;
    justify-content: space-between;
    align-items: center;
  }
}

@keyframes modal-open {
  0% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}
